
body
{
    background-image: url("../res/login-bg.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

#form
{
    display: inline-block;
    padding: 17%;
    margin: 0 auto;
}

.forms
{
    vertical-align: top;
    position: relative;
    background: rgba(255, 255, 240, 0.6);
    color: black;
    border-radius: 10px;
    border-bottom: 1px solid #999;
    padding: 5%;
    margin: auto 5%;
    width: 100px;
}


.textfield
{
    margin: 10px;
    float: right;
}

.header-note
{
    text-align: left;
}








footer
{
    text-align: center;
    color: ivory;
    font-size: 0.8em;
    margin: auto auto 0 auto;
}
