html
{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-color: rgb(255, 246, 229);
}


#nav-header a
{
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  color: #FFF;
  font-size: 2.5em;
  padding: 20px;
}

#setting
{
  color: #000;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #63A69F;
}

#list
{
  display: inline-block;
  margin: 8px 30px;
  margin-inside: 10px;
  font-size: 14px;
  float: right;
}


#list #welcome-msg
{
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
}

#list button
{
  display: inline-block;
  padding: auto 10px;
  background: #EEE;
  border: none;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  text-shadow: 0 1px white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}


.block
{
  display: inline-flex;
  position: absolute;
  margin: 10px auto;
  font-size: 16px;;
  horiz-align: right;
}


.note-title
{
  font-size: 2.5em;
  font-weight: bold;
}

.note-content
{
  font-size: 1em;
}









#login-page
{
  background: url("../res/login-bg.jpg") center;
  background-size: cover;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  width: auto;
  height: auto;
}

#login-page #forms
{
  display: inline-block;
  padding: 17%;
  margin: auto;
}

#login-page .forms
{
  horiz-align: center;
  vertical-align: middle;
  background: rgba(255, 255, 240, 0.6);
  color: black;
  border-radius: 10px;
  border-bottom: 1px solid #999;
  width: 400px;
  height: 50%;
  padding: 1em;
  margin: 5% 20px;
}


#login-page .form
{
  margin: auto 20px;
}


#login-page .textfield
{
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
}


#login-page .button
{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid #000;

}


#login-page .header-note
{
  text-align: left;
}

#add-one {

  /*Step 2: Basic Button Styles*/
  display: block;
  height: 50px;
  width: 100px;
  background: #34696f;
  border: 2px solid rgba(33, 68, 72, 0.59);

  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

  /*Step 4: Fancy CSS3 Styles*/
  background: -webkit-linear-gradient(top, #FF7F66, #FF7F66);
  background: -moz-linear-gradient(top, #FF7F66, #FF7F66);
  background: -o-linear-gradient(top, #FF7F66, #FF7F66);
  background: -ms-linear-gradient(top, #FF7F66, #FF7F66);
  background: linear-gradient(top, #FF7F66, #FF7F66);

  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0 8px 0 #7F3F33;
  -moz-box-shadow: 0 8px 0 #7F3F33;
  box-shadow: 0 8px 0 #7F3F33;

  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}


dialog
{
  width: 800px;
  height: 600px;
}

.close-edit
{
  float: right;
}

.share-edit
{
  margin-left: 50%;
}
.time-edit
{
  font-style: italic;
}

.tmp-element {
  visibility: hidden;
  white-space: pre;
}
.edittitle {
  border: 0;
  padding: 2px;
  background: #fff;
  font: 12pt sans-serif;
}



#container {
  /* either of these will work for horizontal Isotope layouts */
  height: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.button {
  display: inline-block;
  padding: 10px 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-size: 14px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- grid ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  margin: 10px 10px;
  padding: 10px;
  background: #F2594B;
  color: white;
  font-size: 1em;
}

.grid-item--width2 { width: 210px; }
.grid-item--height2 { height: 210px; }
