
#login-page
{
  background: url("../res/login-bg.jpg") center;
  background-size: cover;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  width: auto;
  height: auto;
}

#login-page #forms
{
  display: inline-block;
  padding: 17%;
  margin: auto;
}

#login-page .forms
{
  horiz-align: center;
  vertical-align: middle;
  background: rgba(255, 255, 240, 0.6);
  color: black;
  border-radius: 10px;
  border-bottom: 1px solid #999;
  width: 400px;
  height: 50%;
  padding: 1em;
  margin: 5% 20px;
}


#login-page .form
{
  margin: auto 20px;
}


#login-page .textfield
{
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
}


#login-page .button
{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 2px solid #000;

}


#login-page .header-note
{
  text-align: left;
}



#main-page #main-part
{
  margin-top: 100px;
}
#main-page .col-sm-4
{
  /*border: solid;*/
}
dialog
{
  width: 800px;
  height: 600px;
}

.close-edit
{
  float: right;
}

.share-edit
{
  margin-left: 50%;
}
.time-edit
{
  font-style: italic;
}

/*#popup-note .add-content
{
  font-family:"Times New Roman", Times, serif;
  font-size: 25px;
}*/

.tmp-element {
  visibility: hidden;
  white-space: pre;
}
.edittitle {
  border: 0;
  padding: 2px;
  background: #fff;
  font: 12pt sans-serif;
}
.grid {
  background: #DDD;
  max-width: 1200px;
}
.grid-item {
  float: left;
  /*width: 100px;*/
  /*height: 100px;*/
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}
